body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}



.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: center;
    height: fit-content;

}

/* Style the form and its components */
#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.form-group {
    margin: 10px 0;
    text-align: start;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;

}

button[type="submit"]:hover {
    background-color: #0056b3;
    width: 100%;
}